<div class="center container col s8 offset-s2">
  <% @recipes.each do |recipe| %>
    <div class="center card-panel hovera`le z-depth-3 radical-blue">
      <a class="waves-effect waves-light"><i class="material-icons yellow center">grade</i>
      <%= link_to recipe.name, recipe %>
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Description</div>
          <div class="collapsible-body"><span><span class="white-text"><%= recipe.description %></span></span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">whatshot</i>Instructions</div>
          <div class="collapsible-body"><span class="white-text"><%= recipe.instructions %></span></div>
        </li>  
      </ul>
      <div class="tags">
        <p class="big"><span><% tag_cloud recipe.tag_counts, %w[s m l] do |tag| %>
        <%= link_to tag.name, tag_path(tag.name), class: "btn btn-sm btn-default" %>
              &nbsp;
          <% end %></span>
        </p>
      </div>
    </div>
  <div class="divider"></div>
  <% end %>
<div class="divider"></div>
</div>

