<div class="row">
<% @recipes.each do |recipe| %>
  <div class="col s4">
    <h4 class="name"><%= link_to recipe.name, recipe %></h4>
    <p class="date"><%= recipe.created_at.strftime("%B %d, %Y") %></p>
  </div>
<% end %>
</div>