<div class="row">
  <div class="card-panel hoverable z-depth-3 blue-grey darken-2 col s10 center">
   <!--  <div class="image-wrapper">
      <%= image_tag "profile.png" %> 
    </div> -->
      <h2 class="blue-text">Hey, I'm Brendan White</h2>
      <p class="col s6">Welcome to Tendr, my project aimed at helping all the wanna-be bartenders out there find what cocktails they can actually make with their measly home bar and cocktail know-how ignorance!
      <p>I'm a professional bartender and musician turned web developer.  If you want to see more of my coding projects, check out my <a href="http://www.github.com/brendanjwh">Github</a>.  Got any questions?  Shoot me an <a href="mailto:brendanjwh@gmail.com">Email</a>.
  </div>
</div>