.burgandy {
	background-color: #545241;
}

.dark-violet {
	background-color: #524042;
}

.radical-blue {
	background-color: #404752;
}

.background-test {
	background-image: url("../images/bartender.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}