<% @recipes.each do |recipe| %>
  <div class="recipe_wrapper">
    <h2 class="name"><%= link_to recipe.name, recipe %></h2>
    <p class="date"><%= recipe.created_at.strftime("%B %d, %Y") %></p>
  </div>
<% end %>